body{
  height: 100vh;
  background-image: url(/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.follow{
  margin-left: 25px;
}
